Word_Transformation/429_1
Word_Transformation/429_2
Word_Transformation/429_3
Meeting_Prof_Miguel/10171_1
Meeting_Prof_Miguel/10171_2
Meeting_Prof_Miguel/10171_3
The_New_Villa/321_1
The_New_Villa/321_2
The_New_Villa/321_3

__pycache__